
/* ==================================
Layout Change
=================================== */
%slidenav {
  border: none;
  background: none;
  outline: none;
  color: $rf_color_green;
}
.slideshow {
  position: absolute;
  top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slides {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide__img {
	position: absolute;
	/*top: -200px;
	left: -200px;*/
	width: calc(100% + 400px);
	height: calc(100% + 400px);
	background-size: cover;
	background-position: 50% 50%;
}

.slidenav {
  display: flex;
  font-size: 25px;
}
button {
  &.slidenav__item--prev,
  &.slidenav__item--next {
    position: absolute;
    top: 50%;
  }
  &.slidenav__item--prev {
   margin: auto 0 0 2em;
   left: 0;
 }
 &.slidenav__item--next {
  margin: auto 2em 0 0;
  right: 0;
 }
 &.slidenav__item:focus {
 	outline: none;
   border:none;
 }

 &.slidenav__item:hover {
 	color: var(--color-nav-hover);
 }
 &.slidenav__item--prev,
 &.slidenav__item--next {
   @extend %slidenav;
 }
}
.item-down {
  @extend %slidenav;

  position: absolute;
  bottom: -20px;
  left:50%;
  font-size: 23px;
  width: 0;
}
.shape {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--color-shape-fill);
	top: 0;
	pointer-events: none;
}

.inner-slide {
	position: relative;
	font-size: 15px;
	margin: 0;
	cursor: default;
	line-height: 1.3em;
  padding: 7em 5em;
	color: $ultra-white;
  overflow-y: scroll;

	.square {
	    background: #00000000;
	    box-shadow: none;
      text-align: left;
	}
}
.slide__desc {
	position: relative;
	font-size: 1.5em;
	margin: 0 0 2em 0;
	cursor: default;
	color: $ultra-white;
	padding: 0 1em;
	text-align: center;
}

.slide__link {
	position: relative;
	font-size: 1em;
	font-weight: bold;
	padding: 1em 2em;
	display: block;
	color: $ultra-white;
	background: var(--color-slink-bg);
	transition: color 0.3s, background 0.3s;

	&:hover {
		color: var(--color-slink-hover);
		background: var(--color-slink-hover-bg);
	}
}

image {
  width: 100vw;
}
@media screen and (max-width: 55em) {

	.slide__desc {
		font-size: 1em;
	}
	.slide__link {
		font-size: 0.85em;
	}
}
@media screen and (max-width: $break-small) {
button {
  &.slidenav__item--prev,
  &.slidenav__item--next {
    margin: auto;
  }
}
.inner-slide {
  padding: 2em;

  &.scroller {
    padding:6em;
  }
  .title h1 {
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
  }

  .square {
    background: $ultra-white;
  }


}

input[type="submit"] {
	width: 100%;
}
}
